
.box{
height:100vh;
  display: flex;
    flex-direction: column;
  justify-content: center;
 }

.content-box{
    height:99%;
  height:70vh;
  display: flex;
  
  justify-content: center;
 }

.search-bar{
  flex-direction: column;
  width:270px;
  height:99%;
  height: 70Vh;
  overflow-x: hidden;
  border-bottom: 1px solid #000000;
  
  
}

.ranking{
 height: 350px;
    overflow: hidden;
    display: flex;
}
.map-embed{
  flex: 1;
  height:99%;
  height: 70Vh;
    border-bottom: 1px solid #000000;

}

/* ラジオボタン非表示 */
input[type=radio] {
  display: none;
}
/* チェック時*/
input[type="radio"]:checked + label {
  background: #f65347;
  color: #FFF; 
}
/* マウスオーバーしたときのスタイル */
.label:hover {
  background-color: #F9E2E2; 
}
/* lableのスタイル */
.label {
    width:180px;
  color: #000;
  border: #dddddd solid 2px;
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer; 
    border-radius: 15px;
    font-family: "Meiryo", sans-serif;


}

.kakunou {
    background: #f65347;
    color: #fff;
    padding: 10px;
    display: block;
    margin: 0;
    border: 1px solid #fff;
    font-family: "Meiryo", sans-serif;
}



.list-left{
  float: left;
  width:80px;
  padding: 5px;
  text-align: left;
      font-family: "Meiryo", sans-serif;

}

.list-input{
  float: left;
  width:120px;
  padding: 5px;
  text-align: left;
      

}

.list-text{
    float: right;
  width:96px;
  padding: 5px;
}


.list-madori_number{
    float: right;
  float: left;
  width:50px;
  margin-right:10px;
  padding: 5px;
}

.list-madori_type{
    float: right;
  float: left;
  width:70px;
  margin-right:10px;
  padding: 5px;
}

.search{
    width: 250px;
    margin-left: auto; 
    margin-right: auto;
    float:right;
}

.search-item{
  width: 250px;
  float:right;
    margin-right: auto;
}

#search-button{
  float:right;
  width:250px;
    font-size:24px;
    color: white;
background-color: darkorange;
}

.tag{
  text-align: center;
  vertical-align: center;
  font-size: 20px;
  height: 29px;
  width: 20px;
  margin-right: 5px;
font-family: "Meiryo", sans-serif;


}

.bukken{
  flex-direction: row;
  min-height:150px;
  
}

.image{
  min-width:100px;
  float: left;
  min-height:100px;
  background-color: green;
  padding: 2px;
  margin: 2px;
}
.tatemono_information{
    float:right;
}

.result{
    font-size: 13px;
    font-weight: bold;
    background-color: black;
    color: white;
}

#result1{
    background-color: gold;
    color: red;
}

#result2{
    background-color: silver;
    color: blue;
}

#result3{
    background-color: #ba8324;
}

.content-text{
   margin:5px;
   padding:5px;
   /*
   min-width:110px;
   
   */
   min-height:110px;
   font-size: 10px;
   border-width:2px;
   border-color: black;
}

.tatemono-name{
  text-align: center;
  font-size: 12px;
  margin-bottom: 3px;
  border-width:2px;
  border-color: black;
    background-color: #f65347;
   
    color:white;
    font-size: 10px;
    
}



.tatemono{
  /*min-width:300px;*/
  margin:10px;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  margin-bottom: 3px;
  width:20%;
 flex:1;
    font-family: "Meiryo", sans-serif;
    
}

.checkbox{
  width: 50px;
  font-size: 12px;
}

.list-checkbox{

  width:160px;
  padding: 5px;
  text-align: left;
float:right
}